@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

@media only screen and (min-width: 320px) {
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* color: #c0c0c0; */
    color: #fff
  }

  a:link,
  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  /* .viewport-height {
    height: 100vh;
  } */

  /* .viewport-width {
    width: 100vw;
  } */

  .right {
    text-align: right;
  }

  .cover {
    padding: 0.1rem;
  }

  .nav-extended {
    background: #0916249d;
    position: fixed;
    top: 0;
    z-index: 2;
    display: block;
    transition: top 0.3s;
  }

  /*  header nav {
    width: 100%;
    box-shadow: 0px 5px 12px -3px rgba(107, 107, 107, 1);

  } */
  .logo {
    height: 3rem;
    margin: 0.5rem 1rem;
  }

  .fa-bars,
  .fa-times {
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
  }

  /* .top-bar {
    height: 3.5rem;
  } */

  .fa-times {
    color: #33AC39;
  }

  .main-cover {
    /* background: #8cc2ffa4; */
    background-image: url('https://firebasestorage.googleapis.com/v0/b/portfoliovbg.appspot.com/o/fp.jpeg?alt=media&token=cec50001-029c-46b2-acc7-c35cc98e1068');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .container-cover {
    padding: 6rem 2rem 3rem 2rem;
  }

  .title1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    /* text-shadow: .2rem .2rem .2rem #33333398; */
  }

  .title1 .fa-fingerprint {
    font-size: 1.2rem;
    color: #33AC39;
  }

  .subtitle {
    margin: 2rem auto;
    font-size: 1.4rem;
  }

  .title2 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .profile {
    margin: 0 auto;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/portfoliovbg.appspot.com/o/profile.JPG?alt=media&token=b35100fa-86f4-4df7-b500-42e5cf911a12');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16rem;
  }

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #33AC39;
    font-weight: bolder;
  }

  .about-me {
    /* width: 22rem; */
    background: #091624;
    text-align: center;
    /* box-shadow: .2rem .2rem .2rem #33333398; */
    box-shadow: 5px 5px 12px 0px rgba(107, 107, 107, 1);
    color: #c0c0c0;
  }

  .logo-large {
    padding: 1rem;
    height: 6rem;
  }

  .text {
    padding: 0 1rem 1rem 1rem;
  }

  .skill-cover {
    background: #091624;
  }

  .skills {
    color: #c0c0c0;
  }

  .skills ul {
    text-align: center;
  }

  .skills ul i {
    font-size: 3.5rem;
    margin: 1rem;
  }

  .project-cover {
    /* background: #8cc2ffa4; */
    background-image: url('https://firebasestorage.googleapis.com/v0/b/portfoliovbg.appspot.com/o/fb.jpeg?alt=media&token=de1f89f7-0a8d-4ec4-8f63-91dac29632dc');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* .project .project-name {
    color: #fff;
    font-size: 2rem;
    padding: 16px 32px;
    font-weight: bold;
    font-synthesis: weight
  } */

  .more {
    color: #33AC39;
    font-weight: bolder;
  }

  .contact-cover {
    background: #091624;
  }

  .form form div div input,
  .form form div div textarea,
  .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  .form {
    text-align: center;
  }

  form {
    width: 16rem;
  }

  .form form div div input,
  .form form div div textarea {
    color: #ffffff;
  }

  .button {
    display: block;
    background: #33AC39;
    margin: 0.5rem auto;
    width: 4rem;
  }

  .footer-copyright .container a {
    margin: auto 0.5rem;
  }

  .page-footer img {
    height: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-footer .container .row .col {
    text-align: center
  }

  .card-image {
    margin: 0 auto;
    padding: 1rem;
  }

  .project .col .card {
    display: block;
    background: #ffffffb3;
  }
}

@media only screen and (min-width: 576px) {
  .logo {
    height: 5rem;
  }

  .fa-bars,
  .fa-times {
    font-size: 2rem;
  }

  .container-cover {
    width: 35rem;
  }

  .top-bar {
    height: 4rem;
  }

  .cover {
    display: flex;
    justify-content: center;
  }

  .about-me-container {
    margin-top: 4rem;
  }

  .skills ul i {
    font-size: 4.2rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .container-cover {
    width: 45rem;
  }

  .skills ul i {
    font-size: 5rem;
    margin: 2rem;
  }

  .card-image {
    top: 0;
    display: flex;
    align-items: center;
  }

  .project .col .card {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
